@model EF_CodeFirst.Models.Author
@{
    ViewData["Title"] = "Delete";
}
<h5>Delete Author</h5>
<hr>
Author Id: @Model.AuthorId
<br>
Author's Name: @Model.AuthorFullName
<br>
<form asp-action="Delete">
    <input type="hidden" asp-for="AuthorId">
    <input type="submit" class="btn btn-danger" value="Delete">
</form>