<div class="anaCard bg-light">
    <h3>YÖNETİM KURULUMUZ</h3>
    <div class="row row-cols-1 row-cols-sm-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/image/boardmember04.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fatma MEVSİM</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/boardmember05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tülay ŞEREF</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/boardmember02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cavit KULE</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/boardmember01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fırat BAHÇE</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/boardmember03.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yusuf KOÇAK</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/boardmember06.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Çağla OLUK</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>