
    <div class="row">
    <div class="col-sm-12">
        <h6 class="display-4">Dinlenme Tesisleri</h6>
        <hr />
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>İl</th>
                    <th>İlçe</th>
                    <th>Adres</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            <tbody>
                        <tr class="bg-warning">
                            <td>İstanbul</td>
                            <td>Beşiktaş</td>
                            <td>Barbaros Bulvarı No.7</td>
                            <td>besiktas@gmail.com</td>
                            <td>0222 22 22</td>
                        </tr>

                        <tr class="bg-warning">
                            <td>Kocaeli</td>
                            <td>İzmit</td>
                            <td>Körfez Caddesi No.1</td>
                            <td>korfez@gmail.com</td>
                            <td>0232 32 32</td>
                        </tr>

                        <tr class="bg-warning">
                            <td>Ankara</td>
                            <td>Çankaya</td>
                            <td>Atatürk Bulvarı No.1</td>
                            <td>ankara@gmail.com</td>
                            <td>0211 06 06</td>
                        </tr>

                        <tr class="bg-warning">
                            <td>Trabzon</td>
                            <td>Beşikdüzü</td>
                            <td>Seyhan Sokak No.6</td>
                            <td>besikduzu@gmail.com</td>
                            <td>0871 21 67</td>
                        </tr>

                        <tr class="bg-warning">
                            <td>Samsun</td>
                            <td>Atakum</td>
                            <td>19 Mayıs Caddesi No.5</td>
                            <td>atakum@gmail.com</td>
                            <td>0266 55 22</td>
                        </tr>

                        <tr class="bg-warning">
                            <td>Isparta</td>
                            <td>Güller</td>
                            <td>Pembe Sokak No.7</td>
                            <td>guller@gmail.com</td>
                            <td>0272 22 88</td>
                        </tr>

                        <tr class="bg-warning">
                            <td>Kütahya</td>
                            <td>Dumlupınar</td>
                            <td>Linyit Caddesi No.9</td>
                            <td>linyit@gmail.com</td>
                            <td>0278 23 53</td>
                        </tr>
            </tbody>
        </table>