<div class="anaCard bg-light">
    <h3>İKRAMLARIMIZ</h3>
    <div class="row row-cols-1 row-cols-sm-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/image/soguk_icecekler1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Soğuk İçecekler</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/sicak_icecekler1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sıcak İçecekler</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/image/firindan1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fırın Ürünleri</h5>
                </div>
            </div>
        </div>

         <div class="col">
            <div class="card h-100">
                <img src="/image/atistirmalik.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Atıştırmalıklar</h5>
                </div>
            </div>
        </div>
        
    </div>
</div>