
<div class="alert alert danger" role="alert">
    <h6 class="display-4">Lütfen uygun bir güzergah seçiniz</h6>
</div>
 <hr />
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Kalkış</th>
                    <th>Durak1</th>
                    <th>Durak2</th>
                    <th>Durak3</th>
                    <th>Varış</th>
                </tr>
            </thead>
            <tbody>
                        <tr>
                            <td>İstanbul</td>
                            <td>Kocaeli</td>
                            <td>Kütahya</td>
                            <td>Afyon</td>
                            <td>Isparta</td>
                        </tr>

                        <tr>
                            <td>İstanbul</td>
                            <td>Bolu</td>
                            <td>Sakarya</td>
                            <td>Samsun</td>
                            <td>Trabzon</td>
                        </tr>

                        <tr>
                            <td>Artvin</td>
                            <td>Trabzon</td>
                            <td>Ordu</td>
                            <td>Samsun</td>
                            <td>Ankara</td>
                        </tr>
            </tbody>
        </table>