
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert danger" role="alert">
    <h6 class="text-warning">Lütfen uygun bir sefer seçiniz.</h6>
</div>
        <h6 class="display-4">Seferlerimiz</h6>
        <hr />
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Kalkış</th>
                    <th>Ara Durak</th>
                    <th>Ara Durak</th>
                    <th>Ara Durak</th>
                    <th>Varış</th>
                </tr>
            </thead>
            <tbody>
                        <tr class="bg-primary">
                            <td>İstanbul</td>
                            <td>Kocaeli</td>
                            <td>Kütahya</td>
                            <td>Afyon</td>
                            <td>Isparta</td>
                        </tr>

                        <tr class="bg-secondary">
                            <td>Edirne</td>
                            <td>Sakarya</td>
                            <td>Bolu</td>
                            <td>Çorum</td>
                            <td>Giresun</td>
                        </tr>

                        <tr class="bg-info">
                            <td>Artvin</td>
                            <td>Trabzon</td>
                            <td>Ordu</td>
                            <td>Samsun</td>
                            <td>Ankara</td>
                        </tr>

                        <tr class="bg-primary">
                            <td>Isparta</td>
                            <td>Afyon</td>
                            <td>Kütahya</td>
                            <td>Kocaeli</td>
                            <td>İstanbul</td>
                        </tr>

                        <tr class="bg-secondary">
                            <td>Giresun</td>
                            <td>Çorum</td>
                            <td>Bolu</td>
                            <td>Sakarya</td>
                            <td>Edirne</td>
                        </tr>

                        <tr class="bg-info">
                            <td>Ankara</td>
                            <td>Samsun</td>
                            <td>Ordu</td>
                            <td>Trabzon</td>
                            <td>Artvin</td>
                        </tr>
            </tbody>
        </table>
        
        

