@model EF_CodeFirst.Models.Category
@{
    ViewData["Title"] = "Create";
}
<h4>NEW CATEGORY</h4>
<div class="row">
    <div class="col-sm-6">
        <form asp-action="create" class="col-form-label">
            <input type="text" asp-for="CategoryName" placeholder="Category name..." class="form-control mb-4">
            <input type="text" asp-for="CategoryDescription" placeholder="Category description..." class="form-control mb-4">
            <input type="submit" value="Add Category" class="btn btn-success">
        </form>
        <a asp-action="Index" class="btn btn-info">Back to Categories</a>
    </div>
</div>