@model Category
@{
    ViewData["Title"] = "Detail";
}

<h4>Details of @Model.CategoryName</h4>
<div class="row">
    <div class="col-6">
        <p>Category ID: @Model.CategoryId</p><br><br>
        <p>Category Name: @Model.CategoryName</p><br><br>
        <p>Category Description: @Model.CategoryDescription</p><br>
        <a asp-action="Index" class="btn btn-info">Go Back Categories</a>
    </div>
</div>
