@model Category
@{
    ViewData["Title"] = "Detail";
}
<h4>Details of @Model.CategoryName</h4>
<hr>
<div class="row">
    <div class="col-6">
        <p class="detail">Category's ID: @Model.CategoryId</p>
        <p class="detail">Category's Name: @Model.CategoryName</p>
        <p class="detail">Category's Description: @Model.CategoryDescription</p><br>
        <a asp-action="Index" class="btn btn-info">Go Back Categories</a>
    </div>
</div>
