@model EF_CodeFirst.Models.Publisher
@{
    ViewData["Title"] = "Edit";
}
<h4>Edit Publisher</h4>
<hr>
<form asp-action="Edit" class="form-label">
    <label class="editLabel">ID:</label>
    <label asp-for="PublisherId" class="editLabel">@Model.PublisherId</label><br>
    <input type="hidden" asp-for="PublisherId" class="editInput">
    <label class="editLabel">Publisher Name:</label>
    <input type="text" asp-for="PublisherName" class="editInput"><br>
    <label class="editLabel">Publisher City:</label>
    <input type="text" asp-for="PublisherCity" class="editInput"><br>
    <label class="editLabel">Publisher Mail:</label>
    <input type="text" asp-for="PublisherMail" class="editInput"><br>
    <input type="submit" value="Save Changes" class="editButton">
</form>